* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
    background-color: #f4f4f4;
}

.barre-navigation {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gauche-barre-navigation {
    margin-left: 20px;
}

.titre-barre-navigation {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.droite-barre-navigation {
    display: flex;
    list-style: none;
}

.droite-barre-navigation li {
    margin: 0 15px;
}

.barre-navigation a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.barre-navigation a:hover {
    background-color: #555;
    border-radius: 5px;
    transform: scale(1.1);
}

.section {
    padding: 100px 20px;
    min-height: 100vh;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titre-experience {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.introduction-experience {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
}

.experiences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.carte-experience {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.carte-experience:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carte-experience h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

.carte-experience ul {
    padding-left: 20px;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.carte-experience li {
    margin-bottom: 10px;
}

.image-competence {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.qualites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.carte-qualite {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.carte-qualite:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carte-qualite h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

.carte-qualite p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    flex-grow: 1;
}

.pied-de-page {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}