* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    margin-left: 20px;
}

.navbar-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    list-style: none;
}

.navbar-right li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 5px;
    transform: scale(1.1);
}

.section {
    padding: 100px 20px;
    min-height: 100vh;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formation-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.formation-intro {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
}

.formations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.formation-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formation-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.formation-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

.formation-card ul {
    padding-left: 20px;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.formation-card li {
    margin-bottom: 10px;
}

.competence-image {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.qualites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.qualite-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.qualite-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.qualite-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

.qualite-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    flex-grow: 1;
}

.qualite-card img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
